.col-3{
    background-color: aqua;
    margin: 0%;
    height: 100vh;
    padding: 1%;
}
.col-9{
    
    margin: 0%;
    padding: 5%;
    height: 100vh;
}
.col-12{
    margin: 0%;
    padding: 0%;
}
.row{
    width: 100%;
}
.imggg{
    float: left;
    width: 20%;
    height: auto;
    margin:1%;
}
.show{
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}
.btn{
    margin-bottom: 5%;
}
.form-check{
    margin-bottom: 2%;
}
.card{
    margin: 1%;
}